<h2>Utilisation de Gp.Services.getConfig() <a href="http://jsfiddle.net/ignfgeoportail/0hsanbv2/embedded/result,js,html,css/">(jsfiddle)</a>.</h2>

{{getconfig-ui}}

<div id="result"></div>
<div id="rawResult"></div>

{{version-ui}}

{{outlet}}