<h2>Utilisation de Gp.Services.route() avec modulation des paramètres <a href="http://jsfiddle.net/ignfgeoportail/g51jh882/embedded/result,js,html,css/">(jsfiddle)</a>.</h2>

{{route-ui}}

<div id="result"></div>

{{version-ui}}

{{outlet}}