<h2>Utilisation de Gp.Services.getAltitude() avec en jouant sur les paramètres de la fonction <a href="http://jsfiddle.net/ignfgeoportail/owxffaf3/embedded/result,js,html,css/">(jsfiddle)</a>.</h2>

{{alti-ui}}

<div id="result"></div>

{{version-ui}}

{{outlet}}