<h2>Utilisation de la méthode Gp.Services.autoComplete() avec options de filtrage <a href="http://jsfiddle.net/ignfgeoportail/jsjqk4wq/embedded/result,js,html,css/">(jsfiddle)</a>.</h2>

{{autocomplete-ui}}

<div id="result"></div>

{{version-ui}}

{{outlet}}