<h2>Utilisation de Gp.Services.isoCurve() avec modulation des paramètres <a href="http://jsfiddle.net/ignfgeoportail/od5pf6qw/embedded/result,js,html,css/">(jsfiddle)</a>.</h2>

{{isocurve-ui}}

<div id="result"></div>

{{version-ui}}

{{outlet}}