<h2>Utilisation de Gp.Services.reverseGeocode() avec critères <a href="http://jsfiddle.net/ignfgeoportail/4t0wfey5/embedded/result,js,html,css/">(jsfiddle)</a>.</h2>

{{reversegeocode-ui}}

<div id="result"></div>

{{version-ui}}

{{outlet}}