<div id="params">
    <p>Clef Géoportail :
        {{input type="text" id="apiKey" value="jhyvi0fgmnuxvfv0zjzorvdn"}}
    </p>
</div>
<div id="go">
    <input {{action "go"}} type="button" value="GetConfig" />
</div>

{{yield}}